.product-data {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 10px;
}

.structure {
  text-align: center;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
height: 400px;
  margin: auto;
}

.serchbar {
  width: 100%;
  text-align: center;
}
.serchbar input {
  width: 60%;
  height: 30px;
  border: none;
  box-sizing: border-box;
  box-shadow: 5px 8px 5px 5px gray;
  margin: 2rem 0;
}

.category {
  width: auto;
}
.category div {
  width: 100%;
}
.category div button {
  width: 100%;
  text-align: center;
  margin: 5%;
  border: none;
  box-sizing: border-box;
  font-size: large;
  background: none;
  box-shadow: 5px 4px 5px 4px gray;
}

@media screen and (max-width: 480px) {
  #products {
    display: block;
    flex-wrap: wrap;
  }
}
